@{
    ViewBag.Title = "Mobile Gav Corner";
}

<div class="row content-container">

    <div class="map-section">
        <div class="map-container col-sm-6 col-xs-12">
            <div class="row">
                @*<div class="col-xs-12 search-box">
                        <div class="input-group" style="width: 100%">

                            <input type="text" id="search-places" class="form-control" placeholder="What are you trying to Find">
                            <span class="input-group-btn">
                                <button type='button' class='btn btn-lg btn-success search'>Find</button>
                            </span>


                        </div>
                        <div id="demo"></div>
                    </div>*@
                <div class="col-sm-3 col-xs-12">

                    <button type='button' value="" class='btn btn-block  btn-lg btn-danger directions-back'>back</button>

                </div>



            </div>

            <div id="map-canvas"></div>

        </div>
    </div>

    <div class="quick-search-section">

        <div class="col-sm-6 col-xs-12">

            <div class="row">


                <div class="col-sm-3 col-xs-12">
                    <p>
                        <button type='button' value="gas_station" class='btn btn-block  btn-lg btn-success quick-search'>Gas</button>
                    </p>
                </div>
                <div class="col-sm-3 col-xs-12">
                    <p>
                        <button type='button' value="food" class='btn btn-block  btn-lg btn-success quick-search'>Food</button>
                    </p>
                </div>
                <div class="col-sm-3 col-xs-12">
                    <p>
                        <button type='button' value="laundry" class='btn btn-block btn-lg  btn-success quick-search'>Washing</button>
                    </p>
                </div>
                <div class="col-sm-3 col-xs-12">
                    <p>
                        <button type='button' value="grocery_or_supermarket" name="" class='btn btn-block  btn-lg btn-success quick-search'>SuperMarket</button>
                    </p>
                </div>

            </div>
        </div>
    </div>

    <div class="directions-section">
        <div class="row directions-block">
            <div class="col-xs-12">
                <p>
                    <button type='button' value="" class='btn btn-block  btn-lg btn-success view-map'>View Map</button>
                    <button type='button' value="" class='btn btn-block  btn-lg btn-danger directions-back'>Results</button>

                </p>
            </div>
            <div id="directions-panel" class="col-xs-12">

            </div>
        </div>

    </div>

    <div class="results-section">
        <div class="panel panel-default results" style="height: 500px;">
            <!-- Default panel contents -->
            <p>
                <button type='button' value="" class='btn btn-block  btn-lg btn-danger map-back'>back</button>
            </p>
            <div class=" panel-heading">Results</div>
            <div class="panel-body">

            </div>
            <!-- List group -->
            <ul class="list-group result-list"></ul>
        </div>
    </div>


</div>



<div class="row">
    <div class="col-xs-12 google-logo">
        <img src="~/Content/Images/powered-by-google-on-white.png" />
    </div>
</div>








@section scripts
{
    <script type="text/javascript" src="~/Scripts/MyScripts/SearchMobile.js"></script>
}